body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input,
textarea {
  font-size: 13px;
  font-family: sans-serif;
}
